{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management System</title>
   <link rel="stylesheet" href="{% static 'dist/styles.css' %}" type="text/css">
     <script src="https://cdn.tailwindcss.com"></script>
 </head>
<body>

    <!-- start of body -->
    <div class=" bg-white">
            {% block content %}
            {% endblock %}
    </div>
{% if messages %}
<div class="fixed top-4 right-4">
    {% for message in messages %}
    <div class="p-4 mb-4 text-sm text-white rounded-lg bg-red-500" role="alert">
        {{ message }}
    </div>
    <script>
        // Hide the message after 5 seconds
        setTimeout(() => {
            const alert = document.querySelector('[role="alert"]');
            if (alert) alert.remove();
        }, 5000);
    </script>
    {% endfor %}
</div>
{% endif %}


</body>
<!-- end of body -->
</html>
<!-- end of html -->