{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management System</title>
   <link rel="stylesheet" href="{% static 'dist/styles.css' %}" type="text/css">
     <script src="https://cdn.tailwindcss.com"></script>
 </head>
<body>

    <!-- start of body -->
    <div class=" bg-white">
            {% block content %}
            {% endblock %}
    </div>



</body>
<!-- end of body -->
</html>
<!-- end of html -->