
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tapok PH</title>
  {% load static tailwind_tags %}
   {% tailwind_css %}
</head>
<style>
</style>
<body>
    <div class="flex h-full">
        <aside class="hidden w-96 bg-[#f8f8ff] md:block min-h-screen">
            <div
                class="py-3 text-2xl font-extrabold uppercase text-center tracking-widest bg-[#3220b3] border-b-2 border-gray-800
                mb-8 custom-bg">
                <a href="/" class="text-white">Tapok</a>
            </div>
            <nav class="text-sm text-gray-300">
                <ul class="flex flex-col  font-semibold">
                    <li
                        class="px-4 cursor-pointer  text-[#5c53c2] hover:bg-[#dcd9fb] hover:text-[#3220b3]
                        text-sm">
                        <a class="py-3 flex items-center" href="{% url 'dashboard_home' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-4 mr-3">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21" />
                            </svg>
                            Dashboard
                        </a>
                    </li>
                <li
                        class="px-4 cursor-pointer  text-[#5c53c2] hover:bg-[#dcd9fb] hover:text-[#3220b3]
                        text-sm">
                        <a class="py-3 text-sm flex items-center" href="{% url 'events' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-4 mr-3">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                            </svg>
                            Events
                        </a>
                    </li>
                  
                                 </ul>
            </nav>
        </aside>
        <!-- main content -->
        <main class="w-full">
            <nav class="bg-white p-[18px] border-b-[1px] border-[#dcd9fb]">
                <div class="container mx-auto flex justify-between items-center">
                    <a href="/" class="text-gray-500 text-sm">Home</a>
                    {% if user.is_authenticated %}
                    <div class="flex items-center space-x-4">
                        <span class="text-sm text-gray-500">Welcome, {{ user.username }}</span>
                        <a href="{% url 'logout' %}" class="text-sm text-blue-600">Logout</a>
                    </div>
                    {% else %}
                    <a href="{% url 'login' %}" class="text-white hover:text-gray-300">Login</a>
                    {% endif %}
                </div>
            </nav>
            {% block content %}
            {% endblock %}
        </main>
        </div>


{% if messages %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    {% for message in messages %}
      Swal.fire({
        icon: 'success',
        title: '{{ message }}',
        position: 'top-end',  // Position the alert in the top-right corner
        toast: true,          // Make it a toast-style alert
        showConfirmButton: false,  // No confirm button
        timer: 3000           // Alert disappears after 3 seconds
      });
    {% endfor %}
  </script>
{% endif %}

</body>
</html>
<!-- end of html -->