<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Submit Your Details</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white flex justify-center items-center h-screen">
  <div class="w-full max-w-md p-4 bg-white rounded-lg shadow-md">
    <h2 class="text-xl font-bold text-gray-800 text-center mb-4">Submit Your Details</h2>

        <p>ThanKS</p>
  </div>
</body>
</html>
