{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
{% load socialaccount %}
<!-- login component -->
<div class="flex items-center justify-center min-h-screen bg-[#f7f6ff]">
    <div class="bg-white mx-auto shadow-lg rounded-md flex w-full max-w-4xl overflow-hidden border border-gray-200">
        <!-- Banner Section -->
        <div class="hidden md:flex flex-1 custom-bg  items-center justify-center p-8">
            <div class="text-center">
                <h2 class="text-3xl font-bold text-[#fff]">TAPOK</h2>
                <p class="mt-1 text-[#aba0ff] text-sm">Your journey starts here.</p>
                  
            </div>
             <span class=" text-[#aba0ff] text-[0.5em] absolute mt-52">© All rights reserved Tapok PH</span>
        </div>
        <!-- Login Section -->
        <div class="flex-1 p-8 bg-[#eeeefb]">
            <div class="flex flex-col items-start">
                <h2 class="text-md font-bold mb-2">Sign In</h2>
            </div>

            <!-- Flash Messages Section -->
            {% if messages %}
            <div class="mb-4 mt-2">
                {% for message in messages %}
                <div class="absolute  flex items-center justify-center pt-4 -mt-8 mb-4 text-[0.76em] text-red-500 text-center rounded-md {{ 
        'bg-red-500' if message.tags == 'error' else 'bg-green-500' }}" role="alert">
                    {{ message }}
                </div>

                {% endfor %}
            </div>
            {% endif %}
            <form id="new_user" action="{% url 'login' %}" method="post" class="space-y-4">
                {% csrf_token %}
                <div>
                    <input autofocus autocomplete="off"
                        class="w-full text-sm px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-400"
                        placeholder="Username" type="text" name="username" id="username" />
                </div>
                <div>
                    <input autocomplete="current-password"
                        class="w-full text-sm px-4 py-2 border border-gray-300 rounded-md focus:outline-none
                        focus:ring-1 focus:ring-gray-400"
                        placeholder="Password" type="password" name="password" id="password" />
                </div>
                <div class="text-right">
                    <button name="button" type="submit"
                        class="px-6 py-2 text-white bg-[#4935db] rounded-md hover:bg-[#3220b3] focus:outline-none focus:ring-2 focus:ring-blue-500">
                        Log in
                    </button>
                </div>



            </form>
        </div>
    </div>
</div>
<script>
    setTimeout(() => {
        const alerts = document.querySelectorAll('[role="alert"]');
        alerts.forEach(alert => {
            alert.classList.add('opacity-0');
            // setTimeout(()=>alert.remove(), 500);
        });
    }, 5000);
</script>
{% endblock content %}