{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="flex items-center justify-center min-h-screen bg-[#f2efff]">
    <div class="bg-white mx-auto shadow-lg rounded-md flex w-full max-w-4xl overflow-hidden border border-[#b9afff]">
        <!-- Banner Section -->
        <div class="hidden md:flex flex-1 custom-bg items-center justify-center p-8 min-h-0">
            <div class="text-center">
                <h2 class="text-3xl font-bold text-[#fff]">TAPOK</h2>
                <p class="mt-1 text-[#aba0ff] text-sm">Where Moments Become Memories</p>
            </div>
            <span class="text-[#aba0ff] text-[0.5em] absolute mt-52">© All rights reserved Tapok PH</span>
        </div>
        <!-- Signup Section -->
        <div class="flex-1 p-8 bg-[#fff]">
            <div class="flex flex-col items-start">
                <h2 class="text-md font-bold mb-2">Sign Up</h2>
            </div>

            <!-- Flash Messages Section -->
            {% if messages %}
            <div class="mb-4 mt-2">
                {% for message in messages %}
                <div class="relative flex items-center justify-center pt-4 -mt-8 mb-4 text-[0.76em] text-center rounded-md {{ 
                     'text-red-500 bg-red-100' if message.tags == 'error' else 'text-green-500 bg-green-100' }}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <form id="new_user" action="{% url 'register' %}" method="post" class="space-y-4">
                {% csrf_token %}
                <div>
                    <input autofocus autocomplete="off"
                        class="w-full text-sm px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-400"
                        placeholder="Username" type="text" name="username" id="username" value="{{ form.username.value|default:'' }}"/>
                </div>
                <div>
                    <input autocomplete="email"
                        class="w-full text-sm px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-400"
                        placeholder="Email" type="email" name="email" id="email" value="{{ form.email.value|default:'' }}"/>
                </div>
                <div>
                    <input autocomplete="new-password"
                        class="w-full text-sm px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-400"
                        placeholder="Password" type="password" name="password1" id="password1"  value="{{ form.password1.value|default:'' }}"/>
                </div>
                <div>
                    <input autocomplete="new-password"
                        class="w-full text-sm px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-400"
                        placeholder="Confirm Password" type="password" name="password2" id="password2" value="{{ form.password2.value|default:'' }}"/>
                </div>
                <div class="flex flex-col items-center justify-center gap-2">
                    <button name="button" type="submit"
                        class="w-full px-6 py-2 text-white bg-[#4935db] rounded-sm hover:bg-[#3220b3] focus:outline-none focus:ring-2 focus:ring-blue-500">
                        Sign Up
                    </button>

                     <span class="text-gray-500 text-sm ">or</span>
                        <a href="/accounts/google/login/" 
                        class="w-full flex px-6 py-2 text-[#3220b3] bg-[#fff] rounded-sm hover:bg-[#d8d4f4] focus:outline-none focus:ring-2 focus:ring-blue-500 text-center  border border-[#4935db]  items-center justify-center gap-2">
                        <img src="{{ MEDIA_URL }}/media/google-icon.6e369a9f55de51a66f35a38fc98a1b31.svg" 
                                alt="Google Logo" 
                                class="h-6 w-6">
                        Continue with Google
                        </a>
                </div>
                <div class="flex flex-col items-center justify-center gap-2">
                    <p>Already have an account? <a href="{% url 'login' %}" class="text-[#4935db] text-sm"><b>Sign In</b></a></p>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    setTimeout(() => {
        const alerts = document.querySelectorAll('[role="alert"]');
        alerts.forEach(alert => {
            alert.classList.add('opacity-0');
        });
    }, 5000);
</script>
{% endblock content %}
